.jumbotron {
  padding-top: 6rem;
  background-color: #fff8dc;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: bisque;
}

footer {
  background-color: darkgoldenrod;
}

footer p {
  text-align: inherit;
}