.jumbotron {
  padding-top: 6rem;
  background-color: #fff8dc;
}

.navbar {
  background-color: bisque;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: darkgoldenrod;
}

footer p {
  text-align: inherit;
}

#About {
  background-color: #ffe4b5;
}

#Skills {
  background-color: #fff8dc;
}

#Projects {
  background-color: #ffe4b5;
}

#Testi {
  background-color: #fff8dc;
}

#Testi .row .col h5 {
  text-align: center;
}


#Testi .row .col .card-text {
  text-align: center;
}

#Testi .row .col img {
  width: 220px;
  margin: 30px auto;
}

#Contact {
  background-color: #ffe4b5;
}